---
const { frontmatter } = Astro.props;
const pageTitle = frontmatter.title;

import Layout from "@layouts/Layout.astro";
---

<Layout {pageTitle}>
  <p>Written by {frontmatter.author}</p>
  <p>{frontmatter.pubDate.slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <slot />
</Layout>
